$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// can add Boostrap overrides, additional Sass/CSS below...

.list-group-item {
  img {
    float: left;
    width: 72px;
    height: 72px;
    background: #ccc;
    margin-right: 16px;
  }

  h4 {
  }
}

.br {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 15px;
}

.form-group select {
  @extend .form-control;
}

.remove-dialog {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
